.key{
    width: 22%;
    background-color: rgb(192, 197, 201);
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 5px;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 40px;
  }

.key:hover{
  background-color: rgb(0, 152, 179);
  color: white;
}